h1{
    font-family: 'Big John', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8em;
    margin-top: -15px;
    margin-left: 30px;
    margin-bottom: -5px;
}

h2{
    font-family: 'Staatliches', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;

}

h3{
    font-family: 'Staatliches', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.7em;

}

#coordonnees{
    font-family: 'Staatliches', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.7em;
    list-style-type: none;
}



p{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}



/* header */

header{
    display: flex;
    align-items: flex-start;
    
    flex-wrap: wrap;
    
}

#photoContainer{
    background-color: grey;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photoContainer img{
    width: 380px;
    border-radius: 70px 0px;
    
}


.icon{
    margin: 0px 10px 0px 0px;
}

.tel{
    display: flex;
    margin: 0px 0px 20px 0PX;
}



.adresse{
    display: flex;
    margin: 0px 0px 20px 0PX;
}

.mail{
    display: flex;
    margin: 0px 0px 20px 0PX;
}

.DOB{
    display: flex;
    margin: 0px 0px 20px 0PX;
}

.linkedin{
    display: flex;
    margin: 0px 0px 20px 0PX;
    word-wrap: break-word;
    
}


.voiture{
    display: flex;
    margin: 0px 0px 20px 0PX;
}



/* body */

.trait{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.traitSeparation{
    width: 1000px;
    border-top: 1px solid black;
    text-align: center;

}

/* profil et tel */

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.blockGauche {
    background-color: rgb(191, 191, 191);
    width: 30%;
    height: 300px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    

}

.blockDroit {
    background-color: rgb(107, 50, 50);
    width: 30%;
    height: 300px;
    margin-right: 100px;
    padding: 50px;
   
    

}
.profilIcon{
    display: flex;
    justify-content: center;
    
}

.profil{
    
    margin: 0px 0px 20px 0PX;

   
}

/* BODY PRINCIPAL */

.année{
    font-size: 1.1em;
}

.intituley{
    font-weight: bolder;
}

.lieuStage{
    font-variant: small-caps;
}

.typeExperience
{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}